* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

body {
  min-width: 350px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: black;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center; }

.background {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -5;
  background-image: url("../images/bg4.jpg");
  /*We can specify 2 background images, the first one being the top one - the linear gradient will be on top of the linear gradient - then we can ujst pull the opacity value down with the color picker or specify the opacity*/
  background-size: cover;
  /*will fit the image across the entire width of the view port*/
  background-position: top;
  /*ensure the image stays at the top of the container while bottom would do the opposite and center will always stay at the center*/ }

.nav-bar-header {
  background: white;
  width: 100%;
  font-size: 2.2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 900;
  padding-top: 2rem; }

.nav-bar-top {
  background: white;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  letter-spacing: 3px;
  text-transform: uppercase; }
  .nav-bar-top .nav-route {
    padding: 1rem;
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: .8rem;
    font-weight: bold; }
    .nav-bar-top .nav-route:link, .nav-bar-top .nav-route:visited {
      color: black; }
    .nav-bar-top .nav-route:hover, .nav-bar-top .nav-route:active {
      color: #881b00; }
  .nav-bar-top .nav-route a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 1rem;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .nav-bar-top .nav-route a:hover:after,
  .nav-bar-top .nav-route a:focus:after,
  .nav-bar-top .nav-route a:active:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

.header {
  margin: 4rem 0 1rem 0;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center; }
  .header .book-container {
    max-width: 350px; }
    .header .book-container img {
      max-height: 100%;
      max-width: 350px; }
  .header .book-summary {
    position: relative;
    width: 350px;
    height: 100%;
    padding: 2rem;
    padding-bottom: 5rem;
    margin-left: 100px;
    background: rgba(255, 255, 255, 0.7);
    color: black; }
    .header .book-summary .book-summary-title {
      text-align: center; }
    .header .book-summary .book-summary-title {
      font-weight: bold; }
    .header .book-summary .book-summary-contents {
      font-size: .9rem;
      margin: .5rem 0; }
    .header .book-summary .book-summary-chapers {
      padding-left: 2rem; }
    .header .book-summary li {
      font-size: .85rem;
      font-style: italic;
      color: #111111; }
    .header .book-summary .buy {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      background: #3f0d01;
      color: white;
      padding: .5rem 1.3rem;
      font-size: .8rem;
      border: none;
      border-radius: 5px;
      text-transform: uppercase;
      -webkit-transition: 500ms ease-in-out;
      transition: 500ms ease-in-out; }
      .header .book-summary .buy:hover {
        background: #8a1d02;
        cursor: pointer; }

.info {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  justify-content: space-around;
  background: white;
  width: 70%;
  padding: 3rem; }
  .info .info-title {
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 2px;
    padding-bottom: .5rem; }
  .info hr {
    margin-bottom: 1rem; }
  .info .youtube {
    padding-top: 2rem;
    width: 50%; }
    .info .youtube iframe {
      width: 100%;
      height: 250px; }
  .info .about {
    position: relative;
    width: 30%;
    padding-top: 2rem; }
    .info .about .portrait1 {
      position: relative;
      height: 300px;
      width: 80%;
      left: 50%;
      -webkit-transform: translatex(-50%);
      transform: translatex(-50%);
      margin-bottom: 1rem;
      background-image: url("../images/1.JPG");
      /*We can specify 2 background images, the first one being the top one - the linear gradient will be on top of the linear gradient - then we can ujst pull the opacity value down with the color picker or specify the opacity*/
      background-size: cover;
      /*will fit the image across the entire width of the view port*/
      background-position: top;
      /*ensure the image stays at the top of the container while bottom would do the opposite and center will always stay at the center*/ }
    .info .about .title {
      font-weight: 900; }
    .info .about p {
      font-size: .9rem; }

.about-container {
  background: white;
  margin: 4rem;
  width: 70%;
  padding: 4rem;
  padding-bottom: 6rem; }
  .about-container img {
    max-height: 350px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  .about-container h2, .about-container h4 {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center; }
  .about-container h4 {
    margin-bottom: 1rem;
    width: 60%; }
  .about-container p {
    margin: .8rem 0;
    font-size: .9rem;
    width: 80%;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

form {
  width: 50%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: white;
  padding-bottom: 6rem; }
  form .contact-container {
    width: 90%;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 3rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-content: center; }
    form .contact-container h1 {
      text-align: center; }
    form .contact-container p {
      text-align: center;
      display: inline-block;
      padding: .5rem 0 1.5rem;
      width: 90%; }
    form .contact-container .contact-form-group {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-pack: start;
      justify-content: flex-start;
      align-content: center; }
      form .contact-container .contact-form-group input, form .contact-container .contact-form-group textarea {
        margin: .3rem 0;
        background: whitesmoke;
        font-size: 1.2rem;
        padding: .75rem; }
    form .contact-container button {
      background: #3f0d01;
      color: white;
      padding: .5rem 1.3rem;
      font-size: .8rem;
      border: none;
      border-radius: 5px;
      text-transform: uppercase;
      -webkit-transition: 500ms ease-in-out;
      transition: 500ms ease-in-out; }
      form .contact-container button:hover {
        background: #8a1d02;
        cursor: pointer; }

.checkout-screen {
  width: 100vw;
  min-height: 100vh;
  min-width: 100%;
  height: 100%;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 5;
  background-image: url("../images/bg4.jpg");
  /*We can specify 2 background images, the first one being the top one - the linear gradient will be on top of the linear gradient - then we can ujst pull the opacity value down with the color picker or specify the opacity*/
  background-size: cover;
  /*will fit the image across the entire width of the view port*/
  background-position: top;
  /*ensure the image stays at the top of the container while bottom would do the opposite and center will always stay at the center*/
  padding: 4rem 0 8rem 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: opacity 400ms ease-in, -webkit-transform 1000ms ease-in-out;
  transition: opacity 400ms ease-in, -webkit-transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out, opacity 400ms ease-in;
  transition: transform 1000ms ease-in-out, opacity 400ms ease-in, -webkit-transform 1000ms ease-in-out;
  opacity: 0; }
  .checkout-screen .payment-container {
    border: 2px solid black;
    border-radius: 10px;
    padding: 2rem;
    width: 350px;
    position: relative;
    background-color: white;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center; }
    .checkout-screen .payment-container .remove-checkout-screen {
      width: 90%;
      background: red;
      color: white;
      padding: .7rem 1.3rem;
      font-size: .8rem;
      border: none;
      border-radius: 5px;
      text-transform: uppercase;
      margin-bottom: 2rem;
      -webkit-transition: 500ms ease-in-out;
      transition: 500ms ease-in-out; }
      .checkout-screen .payment-container .remove-checkout-screen:hover {
        background: #ff7e7e;
        cursor: pointer; }
    .checkout-screen .payment-container .checkout-description {
      text-align: center;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center; }
      .checkout-screen .payment-container .checkout-description .checkout-author-subtitle {
        font-size: .8rem; }
      .checkout-screen .payment-container .checkout-description .checkout-description__book-container img {
        max-height: 300px; }
      .checkout-screen .payment-container .checkout-description .checkout-formats {
        margin-top: 1rem;
        margin-bottom: .5rem; }
      .checkout-screen .payment-container .checkout-description .purchase-button {
        color: black;
        text-decoration: none;
        background: whitesmoke;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        width: 90%;
        border: 1px solid black;
        padding: .7rem 0rem;
        border-radius: 5px;
        margin-bottom: .5rem;
        -webkit-transition: all 300ms;
        transition: all 300ms;
        line-height: 1.2rem; }
        .checkout-screen .payment-container .checkout-description .purchase-button .purchase-button_brand {
          margin: 0 2rem;
          position: relative;
          height: 24px;
          width: 24px;
          background-size: contain;
          /*will fit the image across the entire width of the view port*/
          background-position: top;
          /*ensure the image stays at the top of the container while bottom would do the opposite and center will always stay at the center*/
          background-repeat: no-repeat; }
        .checkout-screen .payment-container .checkout-description .purchase-button .paypal {
          background-image: url("../images/paypal-symbol.jpg");
          /*We can specify 2 background images, the first one being the top one - the linear gradient will be on top of the linear gradient - then we can ujst pull the opacity value down with the color picker or specify the opacity*/ }
        .checkout-screen .payment-container .checkout-description .purchase-button .amazon {
          background-image: url("../images/amazon-symbol.png");
          /*We can specify 2 background images, the first one being the top one - the linear gradient will be on top of the linear gradient - then we can ujst pull the opacity value down with the color picker or specify the opacity*/ }
        .checkout-screen .payment-container .checkout-description .purchase-button .kp {
          background-image: url("../images/kp-symbol.png");
          /*We can specify 2 background images, the first one being the top one - the linear gradient will be on top of the linear gradient - then we can ujst pull the opacity value down with the color picker or specify the opacity*/ }
        .checkout-screen .payment-container .checkout-description .purchase-button .purchase-button__title {
          font-size: .9rem; }
        .checkout-screen .payment-container .checkout-description .purchase-button .purchase-button__price {
          font-size: .8rem;
          font-weight: bold; }
      .checkout-screen .payment-container .checkout-description .purchase-button:hover {
        cursor: pointer;
        background: white;
        color: #1e5085; }
      .checkout-screen .payment-container .checkout-description .checkout-container-two {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: opacity 400ms ease-in, -webkit-transform 1000ms ease-in-out;
        transition: opacity 400ms ease-in, -webkit-transform 1000ms ease-in-out;
        transition: transform 1000ms ease-in-out, opacity 400ms ease-in;
        transition: transform 1000ms ease-in-out, opacity 400ms ease-in, -webkit-transform 1000ms ease-in-out;
        opacity: 0; }
    .checkout-screen .payment-container hr {
      width: 100%;
      margin: 2rem 0; }
    .checkout-screen .payment-container .cash-app-title {
      text-align: center; }
    .checkout-screen .payment-container .cash-app-logo {
      position: relative;
      height: 80px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-image: url("../images/cashapp-2.png");
      /*We can specify 2 background images, the first one being the top one - the linear gradient will be on top of the linear gradient - then we can ujst pull the opacity value down with the color picker or specify the opacity*/
      background-size: contain;
      /*will fit the image across the entire width of the view port*/
      background-position: top;
      /*ensure the image stays at the top of the container while bottom would do the opposite and center will always stay at the center*/
      background-repeat: no-repeat; }
    .checkout-screen .payment-container .zelle-app-logo {
      position: relative;
      height: 80px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-image: url("../images/zelleapp-1.png");
      /*We can specify 2 background images, the first one being the top one - the linear gradient will be on top of the linear gradient - then we can ujst pull the opacity value down with the color picker or specify the opacity*/
      background-size: contain;
      /*will fit the image across the entire width of the view port*/
      background-position: top;
      /*ensure the image stays at the top of the container while bottom would do the opposite and center will always stay at the center*/
      background-repeat: no-repeat; }
    .checkout-screen .payment-container .userName {
      font-weight: 1200;
      font-size: 1.1rem; }
    .checkout-screen .payment-container .checkout-paragraph {
      margin-bottom: .5rem; }

.display-checkout-screen {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1; }

@media (max-width: 900px) {
  .background {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -5;
    background-size: cover;
    /*will fit the image across the entire width of the view port*/
    background-position: top;
    /*ensure the image stays at the top of the container while bottom would do the opposite and center will always stay at the center*/ }
  .header {
    position: relative;
    margin: 4rem 0 1rem 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center; }
    .header .book-container img {
      max-width: 100%; }
    .header .book-summary {
      position: relative;
      max-width: 100%;
      min-height: 425px;
      height: 100%;
      margin: 4rem 0; }
  .info {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 6rem; }
    .info .youtube {
      width: 100%; }
      .info .youtube iframe {
        width: 100%;
        height: 250px; }
    .info .about {
      width: 100%; }
      .info .about .portrait1 {
        position: relative;
        height: 400px;
        width: 80%;
        left: 50%;
        -webkit-transform: translatex(-50%);
        transform: translatex(-50%);
        margin-bottom: 1rem;
        background-size: cover;
        /*will fit the image across the entire width of the view port*/
        background-position: center;
        /*ensure the image stays at the top of the container while bottom would do the opposite and center will always stay at the center*/ }
      .info .about .title {
        font-weight: 900; }
      .info .about p {
        font-size: .9rem; }
  .about-container {
    background: white;
    margin: 0;
    width: 100%;
    padding: .2rem;
    padding-bottom: 6rem;
    overflow: hidden; }
    .about-container img {
      max-height: 350px;
      margin-left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
    .about-container h2, .about-container h4 {
      margin-left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      text-align: center; }
    .about-container h4 {
      margin-bottom: 1rem;
      width: 60%; }
    .about-container p {
      margin: .8rem 0;
      font-size: .9rem;
      width: 80%;
      margin-left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
  form {
    width: 100%;
    margin: 0 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    background: white;
    padding-bottom: 6rem; }
    form .contact-container {
      width: 100%;
      padding: 1rem; } }
